.jumbotron{
    margin-top: 20px;
    /* margin-bottom: 10px; */
    background-image: url('../img/6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 360px;
}

.container-header{
    margin-bottom: -30px;
}

.botones_tabla{
    text-align: center;
}